<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar"
    [(ngModel)] = 'filtroLista'
    >
    <button class="btn btn-outline-success">bucar</button>
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>


<table class=" table table-triped">
  <thead class="thead-ligth">
    <tr>
      <th>#</th>
      <th>
        <button class="btn btn-defalt"
        (click) = "mostrarImagem()" >
        <i class="{{mostrarImg ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
         <!-- {{mostrarImg ? 'Ocultar' : 'Mostrar'}} Imagem--> 
        </button>
      </th>
      <th>Tema</th>
      
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  
<tbody *ngIf="eventos && eventos.length">
  <tr *ngFor="let evento of eventosFiltrados">
    <td>{{evento.id}}</td>
    <td>
        <img *ngIf="mostrarImg" src="http://localhost:5000/img/{{evento.imagemUrl}}" alt=""
        [style.width.px] =  "imagemLargura"
        [style.margin.px] =  "imagemMargem"
        >
  
      </td>
    <td>{{evento.tema}}</td>
    
    <td>{{evento.local}}</td>
    <td>{{evento.dataEvento | DateTimeGeneratePipe}}</td>
    <td>{{evento.qtdPessoas}}</td>
    <td>
      <div *ngIf="!evento.lotes.length" >
        Não informado!

      </div>
      <div *ngIf="evento.lotes.length" >
        {{evento.lotes[0].nome | uppercase }}
        
      </div>
    </td>
    <td>
      <div class="btn-group">
        <button class=" btn btn-sm btn-success" (click) = "OpenModal(template)" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
    </td>
  </tr>
</tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>

<form [formGroup]="registerForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Tema</label>
      <input type="text" class="form-control "
      [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}"
      placeholder="" formControlName="tema">
      <div *ngIf="registerForm.get('tema').hasError('required') && registerForm.get('tema').touched " class="invalid-feedback">
        O tema é obrigatório
      </div>
      <div *ngIf="registerForm.get('tema').hasError('minlength') && registerForm.get('tema').touched" class="invalid-feedback">
        O tema deve ter no minimo 4 caracteres
      </div>
      <div *ngIf="registerForm.get('tema').hasError('maxlength') && registerForm.get('tema').touched" class="invalid-feedback">
        O tema deve ter no maximo 50 caracteres
      </div>
    </div>
    
  </div>  
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Local</label>
      <input type="text" class="form-control "
      [ngClass]="{'is-invalid': registerForm.get('local').errors && registerForm.get('local').touched}"
      placeholder="" formControlName="local">
      <div class="invalid-feedback">
        o local é obrigatório
      </div>
    </div>
    
    <div class="form-group col-md-4">
      <label>Data e Hora</label>
      <input type="text" class="form-control "
      bsDatepicker
      [bsConfig]="{dateInputFormat: 'DD/MM/YYYY hh:mm a'}"
      [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors && registerForm.get('dataEvento').touched}"
      placeholder="" formControlName="dataEvento">
      <div class="invalid-feedback">
        a data é obrigatório
      </div>
    </div>
    
  </div>  
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Qtd Pessoas</label>
      <input type="text" class="form-control "
      [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors && registerForm.get('qtdPessoas').touched}"
      placeholder="" formControlName="qtdPessoas">
      <div class="invalid-feedback">
        a quantidade de pessoas é obrigatório
      </div>
    </div>
    
    <div class="form-group col-md-9">
      <label>Imagem</label>
      <input type="text" class="form-control "
      [ngClass]="{'is-invalid': registerForm.get('imagemUrl').errors && registerForm.get('imagemUrl').touched}"
      placeholder="" formControlName="imagemUrl">
      <div class="invalid-feedback">
        Imagem é obrigatório
      </div>
    </div>
    
  </div>  
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Telefone</label>
      <input type="text" class="form-control "
      [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}"
      placeholder="" formControlName="telefone">
      <div class="invalid-feedback">
        o telefone é obrigatório
      </div>
    </div>
    
    <div class="form-group col-md-4">
      <label>Email</label>
      <input type="text" class="form-control "
      [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
      placeholder="" formControlName="email">
      <div class="invalid-feedback">
        o email é obrigatório
      </div>
    </div>
    
  </div> 
</form>
<br>
<button class="btn btn-secondary" (click)="OpenModal(template)">
  Fechar
</button>
<button class="btn btn-primary" [disabled]="!registerForm.valid" (click)="salvarAlteracao()">
  Salvar Alterações
</button>
<br>
<br>

<tfoot *ngIf="!eventos.length"> 
  <tr>
    <td colspan="7" class="text-center"> 
      <h4>
        Nenhum evento encontrado!
      </h4>
    </td>
  </tr>
</tfoot>

